theme = "native"
icons = "awesome5"

{{ if (eq .chezmoi.hostname "kokuhou") }}
[[block]]
block = "battery"
driver = "upower"
device = "DisplayDevice"
{{ end }}

[[block]]
block = "sound"

[[block]]
block = "time"
interval = 60
format = "%a %d/%m %I:%M%p"

